echo "Running name: Spring Boot CI

on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run CI on'
        required: true
        default: 'master'

jobs:
  ci:
    if: |
      (github.event_name == 'pull_request' &&
       github.event.pull_request.merged == true)
      ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.ref }}

      - name: Set up Java 17
        run: echo "Running uses"
        #with:
        #  distribution: temurin
        #  java-version: '17'
        #  cache: maven

      - name: Build
        run: echo "Running mvn -B clean compile"

      - name: Run Tests
        run: echo "Running mvn -B test"

      - name: Code Coverage
        run: echo "Running mvn jacoco:report"

      - name: Security Scan
        run: echo "Runnng security scans"
